/*
vim: foldmethod=marker:expandtab:fileencoding=utf-8
Theme Name: Lacandona Default Theme
Theme URI: TODO
Author: George Stamoulis
Author URI: http://stamoulohta.com
Description: This theme in conjunction with the 'Lacandona' plugin adapts Wordpress to the Lacandona website appearance and functionality.
Version: 0.a.1803281600
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, right-sidebar, translation-ready, lacandona
Text Domain: lacandona
*/

/**
 * {{{ NORMALIZATION
 *
 * Styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

* {
    margin:0;
    box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

a {
    /* My edits */
    text-decoration:none;
    font-weight:bold;
    color:inherit;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~END OF NORMALIZATION~~~~~~~~~~~~~~~~~~~~~~~~~}}}*/

/*{{{ CONSTANTS & VARIABLES */

@font-face {
	font-family: basica-u;
	src: url("fonts/basica-u.ttf")
}

:root{
    --red-color:#974444;
    --green-color:#449E44;
    --blue-color:#44448C;

    color:#444444;
    --bg-color:#F2EFEA;
    --border-color:#888888;
    --sidebar-color:#E2DFDA;
}

.red{
    color:red;
}

/*}}}*/

/*{{{ TOP */

html{
    /* html has margin-top: 32px from wordpress. */
    font-family: basica-u, verdana, sans-serif;
    /* TODO: font-size viewport width vw */ 
    background-image:url("images/template/green-hedge-leaves-5770.jpg"); /*TODO: load smaller bg pictures for other devices. */
    background-repeat:repeat;
    background-color:black;
    background-size:contain;
    background-attachment:fixed;
    padding:0;
    margin:0;
}

#page{
    width:70%;
    background: repeating-linear-gradient( 135deg, var(--bg-color), var(--bg-color) 2px, white 2px, white 4px);
    margin: 0 auto;
}

#primary{
    position:relative;
    width:60%;
    float:left;
}

/*}}}*/

/*{{{ LOGO */

#logo-container{
    position: relative;
    width:100%;
    /*background-image:url(images/logo/Lacandona_Logo_Background.png);*/
    background: repeating-linear-gradient(45deg, var(--red-color), var(--red-color) 1px,  var(--green-color) 1px, var(--green-color) 2px, var(--blue-color) 2px, var(--blue-color) 3px);
    /*background: repeating-linear-gradient(45deg, var(--red-color), var(--red-color) 2px,  var(--green-color) 2px, var(--green-color) 4px, var(--blue-color) 4px, var(--blue-color) 6px);*/
    overflow:hidden;
    min-height:170px; /* Wrap the basket plus the padding */
    padding:10px;
}

#logo-basket, #logo-text{
    position: relative;
    z-index: 2;
}

#logo-basket{
    width:132px;
    height:auto;
}

#logo-text{
    width:472px;
    height:auto;
    float: left;
    margin-top:30px;
}

.logo-img{
    float: left;
}

#logo-container::after{
    clear:both;
}

/*}}}*/

/*{{{ NAVIGATION */

.navigation-primary{
    width:100%;
    background-color:white;
     /*TODO: make it sticky.*/
     /*
      *position:sticky;
      *position:-webkit-sticky; [> safari <]
      *top:32px; [> stay under the wordpress bar <]
      */
}

#navigation-main{
    display:flex;
    height:1.5em;
    font-size:1em;
    padding:0;
}

#navigation-main>li{
    display:inline-block;
    width:8em;
    text-align:center;
    border-right: 1px solid var(--border-color);
}

#navigation-main>li:hover{
    background: repeating-linear-gradient( 135deg, #FFE7E3, #FFE7E3 2px, #E833E355 2px, #E833E355 4px);
}

.current-menu-item, .current-menu-parent{
    background: repeating-linear-gradient( 135deg, #33E8E3, #33E8E3 2px, #FfE7E3 2px, #FfE7E3 4px);
}

.current-menu-item:hover, .current-menu-parent:hover{
    background: repeating-linear-gradient( 135deg, #33E8E3, #33E8E3 2px, #E833E355 2px, #E833E355 4px) !important;
}

#navigation-main>li.menu-item-has-children:before{
    content:'+';
    margin-right:0.2em;
}


ul.sub-menu{
    display:none;
    position:absolute;
    margin-left:2em;
    text-align:left;
    z-index:1;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.5);
    background: repeating-linear-gradient(45deg,  white, white 2px, var(--sidebar-color) 2px, var(--sidebar-color) 4px);
    border: dashed 1px var(--border-color);
    /*background-color:var(--sidebar-color);*/
}

#navigation-main>li:hover .sub-menu, .sub-menu:hover{
    display:block;
    padding:0;
}

.sub-menu li{
    position:relative;
    width:100%;
    padding:0.2em 2em 0.2em 2em;
    list-style-type:none;
}

.sub-menu li:hover{
    background: repeating-linear-gradient( 135deg, #33E8E3, #33E8E3 2px, #FfE7E3 2px, #FfE7E3 4px);
}

.social-wrapper{
    margin:1em 0;
}

#social-links{
    padding:0;
}

#social-links>li{
    display:inline-block;
    margin:0 2em;
}

/*}}}*/

/*{{{ SOCIAL */

.dashicons{
    color:#444444;
}

.social-links li{
    color:transparent;
}

a[href*="facebook"] span:before{
    content: "\f304";
}

a[href*="twitter"] span:before{
    content: "\f301";
}

a[href*="instagram"] span:before{
    content: "\f306";
}

a[href*="google"] span:before{
    content: "\f462";
}

/*}}}*/

/*{{{ SIDEBARS */

#main_sidebar{
    width: 40%; /* Set the width of the sidebar */
    height: 100%;
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    float:left;
    z-index: 1; /* Stay on top */
    /*top: 220px; [> Stay under the menu <]*/
    /*right: 0;*/
    /*background: repeating-linear-gradient( 45deg, transparent, transparent 2px, var(--sidebar-color) 2px, var(--sidebar-color) 4px);*/
    background: repeating-linear-gradient(transparent, transparent 2px, var(--sidebar-color) 2px, var(--sidebar-color) 4px);
    border:var(--sidebar-color) 1px dashed;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding:2em 0;
}

.sidebar{
    padding:0 1em 1em 2em;
    display: inline-block;
    width: 50%;
    color: #777777;
    float: left;

}

#right_sidebar{
    padding:0 2em 1em 1em;
}

.widget_area>div{
    padding-bottom:1em;
}

.sidebar img{
    border:var(--border-color) 1px solid;
}

/*}}}*/

/*{{{ CONTENT */

.post-article{
    border-top:dashed 1px var(--sidebar-color);
}

.post-article > *{
    margin:1em 3em;
    background-color:white;
}

img.wp-post-image {
    display:block;
    margin:0 auto;
    max-width:100%; /* TODO: Keep the aspect ration */
    height:auto !important;
}

h2 {
    text-align:center;
}

a.post-title {
    color:#67625E;
    font-size:4vw;
    text-decoration:none;
}

.post-content *{
    padding:1em 2em;
}

/*}}}*/

/*{{{ 404 */

.error404 h2{
    color: #67625E;
    font-size: 3em;
    background-color:#ff000033;
}

.error404 header{
    background-color:#ff000022;
}

.error404 #primary{
    width:100%;
    background-color:#ff000022;
}

.error404 #main{
    text-align:center;
}

/*}}}*/

/*{{{ CONTACT */

.form-colored{
    margin:1em;
}

.form-colored :optional:not([type="submit"]){
    background-color:#ffff9944;
}

.form-colored :required{
    background-color:#ff000044;
}

.form-colored :required:valid{
    background-color:#00ff0044;
}

.form-colored>.correct{
    margin:1em 0;
    background-color:#00ff0033;
}

.form-colored>.correct:before{
    content:'✅';
    margin:0 0.5em;
}
.form-colored>.error{
    margin:1em 0;
    background-color:#ff000033;
}

.form-colored>.error:before{
    content:'❎';
    margin:0 0.5em;
}

.hidden{
    display:none;
}

.form-colored input[type="submit"]{
    margin:1em;
}

/*}}}*/

/*{{{ LINKS */

#links_div{
    padding:1em;
}

#links_div p{
    padding:1em;
}

.link-dark{
    background: repeating-linear-gradient(45deg,  white, white 2px, var(--bg-color) 2px, var(--bg-color) 4px);
}

/*}}}*/

/*{{{ PAGINATION */

.screen-reader-text{
    display:none;
}

.pagination{
    margin:1em 3em;
}

#pagination-prev{
    float:left;
}
#pagination-prev:before{
    content:"<< ";
}

#pagination-next{
    float:right;
}
#pagination-next:after{
    content:" >>";
}

/*}}}*/

/*{{{ FOOTER */

#footer {
    clear:both;
    text-align:center;
    background-color:var(--sidebar-color);
    border-top:var(--border-color) 1px dashed;
}

#copyleft {
    padding:1em 0;
}

#reversed {
    font-size:1.5em;
    display:inline-block;
    transform:rotate(180deg);
}

/*}}}*/
